/* /=/=/=/=/=/ (SITE MADE MOBILE FIRST) /=/=/=/=/=/ */
/*BODY*/
body {
    background-color: #f4f6f6;
}

/*NAVBAR*/
.navbar{
    width: 100%;
    height: 50px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #1b4332;
}

/*EXAMPLE*/
.example{
    width: 70%;
    height: 300px;
    margin-top: 10%;
    margin-left: 15%;
}

.example img{
    width: 100%;
    height: 300px;
}

.contenedor{
    width: 100%;
    background-color: #f4f6f6;
}

/*INSTRUCTIONS / GET FILE*/
.instructions{
    width: 100%;
    height: 280px;
    margin-top: 10%;
}

.uploadFile{
    width: 80%;
    height: 50px;
    margin-left: 10%;
    display: flex;
    justify-content: center;
}

/*Input File*/
.file{
    opacity: 0;
    position: absolute;
}

/*Fake Input File*/
.filupp > input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.filupp {
  position: relative;
  background: #57cc99;
  display: block;
  padding: 5%;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 50px;
  color: #1b4332;
  cursor: pointer;
 }

 /*INSTRUCCIONES*/
 .howitworks{
    width: 96%;
    height: 212px;
    margin-top: 5%;
    margin-left: 2%;
 }

 .howitworks-title,
 .howitworks-subtitle{
    text-align: center;
    color: #1b4332;
    font-family: 'Poppins', sans-serif;
 }

 .howitworks-title{
    font-size: 18px;
    font-weight: bold;
 }

 .howitworks-subtitle{
    font-size: 12px;
 }

 /* HOME */

 /*VISUAL*/
 .visual{
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    height: 560px;
 }

 .results{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 18px;
    color: #1b4332;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
 }

 /* SVG */
.svg-space{
    margin-left: 5%;
    width: 90%;
    height: 418px;
}

/* SHARE OPTIONS*/
/*SHARE TITLE*/
.share-title{
    width: 90%;
    height: 10px;
    margin-top: 12%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
}

.download-title{
    width: 40%;
    height: 10px;
}

.sharing-title{
    width: 58%;
    height: 10px;
    margin-left: 10%;
}

.share-title p{
    color: #1b4332;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

/* SHARE-OPTIONS */
.share-options{
    width: 90%;
    height: 32px;
    margin-top: 4%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
}

.download{
    width: 38%;
    height: 32px;
}

.btn-download{
    width: 100%;
    height: 32px;
}

.btn-download i,
.btn-download p{
    font-size: 12px;
}

.share{
    width: 58%;
    height: 32px;
    margin-left: 10%;
    display: flex;
}

.share-item{
    width: 20%;
    height: 32px;
    margin-right: 2%;
    border-radius: 100%;
    text-align: center;
    padding-top: 4px;
}

.share-item:hover{
    cursor: pointer;
}

.share-item i{
    font-size: 18px;
    color: #f4f6f6;
}

.share-fb{
    background-color: #3b5998;
}

.share-wa{
    background-color: #57cc99;
}

.share-tw{
    background-color: #1da1f2;
}

.share-ig{
    background-color: #c13584;
}

 /*FOOTER*/
 .footer {
    width: 100%;
    height: 30px;
    opacity: 0.5;
    margin-top: 2%;
 }
 
 .footer__description {
    font-size: 13px;
    color: #1b4332;
    text-align: center;
 }

 .footer-user{
    font-weight: bold;
 }

 .footer-home{
    margin-top: 5%;
 }

/* /=/=/=/=/=/ PC /=/=/=/=/=/ */
@media (min-width: 575.98px) {
    /*NAVBAR*/
    .navbar{
        height: 70px;
    }

    /*VISUAL INDEX*/
    .visual-index{
        width: 100%;
        display: flex;
    }

    /*EXAMPLE*/
    .example{
        width: 40%;
        height: 650px;
        margin-top: 5%;
        margin-left: 10%;
    }

    .example img{
        height: 650px;
    }

    /*INSTRUCTIONS*/
    .instructions{
        width: 35%;
        height: 280px;
        margin-top: 10%;
        margin-left: 8%;
    }

    /*INPUT UPLOAD FILE*/
    .filupp {
        padding: 2%;
        font-size: 26px;
    }

    /*HOW IT WORKS*/
    .howitworks-title{
        font-size: 24px;
    }

    .howitworks-subtitle{
        font-size: 16px;
    }

    /*FOOTER*/
    .footer{
        margin-top: 5%;
    }

    .footer__description {
        font-size: 16px;
    }

    /* /=/=/=/=/=/ HOME /=/=/=/=/=/ */
    /*RESULTS*/
    .results{
        margin-top: 2%;
        margin-left: 15%;
        font-size: 20px;
    }
     
    /*VISUAL*/
    .visual{
        width: 100%;
        height: 420px;
        display: flex;
        margin: 0;
    }

    .svg-space{
        width: 30%;
        margin-left: 25%;
    }

    /*SHARING*/
    .sharing{
        width: 50%;
        margin-left: 2%;
    }

    /*SHARE TITLES*/
    .share-title{
        width: 100%;
        display:block;
    }

    .share-title p{
        font-size: 18px;
    }
    /*TITLES: DOWNLOAD*/
    .download-title{
        width: 100%;
        margin: 0;
    }
    /*TITLES: SHARE*/
    .sharing-title{
        width: 100%;
        margin-left: 0;
        margin-top: 15%;
    }
    /*SHARE OPTIONS*/
    .share-options{
        display:inline-block;
        margin-top: 0;
    }
    /*OPTIONS: DOWNLOAD*/
    .btn-download{
        height: 50px;
        margin-top: 11%;
    }

    .btn-download p{
        margin-top: 2%;
    }

    .btn-download i,
    .btn-download p{
        font-size: 18px;
    }

    /*OPTIONS: SHARE*/
    .share{
        margin-left: 0;
        margin-top: 17%;
    }

    .share, .share-item{
        height: 50px;
    }

    .share-item i{
        margin-top: 10%;
        font-size: 28px;
    }

    /*FOOTER*/
    .footer-home{
        margin-top: 5%;
    }
    
}